<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="SCION Procedural Card Game">
		<meta name="author" content="Assembled Realities">
		<!--<link rel="icon" href="../../favicon.ico">-->
		
		<title>SCION PCG</title>

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-purple.css">
		<script src="https://use.fontawesome.com/1174070f0b.js"></script>
	</head>
	<body>
		<div id="headerInc" w3-include-html="../../inc/header.html"><a href="../../inc/header.html" target="_blank">check include</a></div>

		<div id="spcgapp">
			<p>Resonance: {{ r }}</p>
			<div>Energy: 
				<span v-for="state in state" v-bind:class="state.w3">{{ state.e }}</span> 
			</div>
			<div>Fleet: 
				<span v-for="state in state" v-bind:class="state.w3">{{ state.f }}</span> 
			</div>
		</div>

		<div id="footerInc" w3-include-html="../../inc/footer.html"><a href="../../inc/footer.html" target="_blank">check include</a></div>

		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="https://www.w3schools.com/lib/w3.js"></script>
		<script src="../../../AuW3/auw3.js"></script>
		<!--<script src="js/wks.min.js"></script>-->
		<script>
			var spcg = function(){
				var spcgVue = new Vue({
					el:'#spcgapp',
					data:{
						t:0,// turn count
						r:81,// starting resonance
						o:81,// orbit size
						state:{
							r:{e:1,f:1,w3:{'w3-red':true,'w3-badge':true}},
							o:{e:1,f:1,w3:{'w3-orange':true,'w3-badge':true}},
							y:{e:1,f:1,w3:{'w3-yellow':true,'w3-badge':true}},
							g:{e:1,f:1,w3:{'w3-green':true,'w3-badge':true}},
							t:{e:1,f:1,w3:{'w3-teal':true,'w3-badge':true}},
							b:{e:1,f:1,w3:{'w3-blue':true,'w3-badge':true}},
							i:{e:1,f:1,w3:{'w3-indigo':true,'w3-badge':true}},
							v:{e:1,f:1,w3:{'w3-purple':true,'w3-badge':true}},
							p:{e:1,f:1,w3:{'w3-pink':true,'w3-badge':true}}
						},
						e:{},// energy
						f:{},// fleet
						p:[]// players
					}
				});
				var APP = {

				};
				return APP;
			}();
		</script>
	</body>
</html>
